<h1> Please enter the details of your recipe </h1>

<form action="/recipes" method="post">
<p> Title of your recipe </p>
<input type="text" name = "name"><br><br>
<p> Ingredients of your recipe </p>
<input type="text" name="ingredients"><br><br>
<p> Cooking Time of your Recipe </p>
<input type="text" name ="cook_time"><br><br>

<input type ="submit" value = "Submit">
</form>